* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: helvetica;
}

h1 {
	text-align: center;
	color: darkred;
	margin: 50px;
}

.row {
	width: 100%;
	justify-items: center;
}

div.column {
	position: relative;
	border: 3px solid black;
	height: 180px;
}

#column {
	position: relative;
	border: 3px solid black;
	height: 180px;
}

div.title {
	position: absolute;
	right: 0;
	width: 100px;
	height: 100px;
	clear: both;
}

div.content {
	position: absolute;
	top: 50px;
	width: 100%;
	padding: 10px;
}

h2 {
	border: 2px solid black;
	text-align: center;
}

.chicken {
	background-color: red;
	color: white;
}

.beef {
	background-color: blue;
	color: white;
}

.sushi {
	background-color: black;
	color: white;
}

.box-one {
	background-color: blue;
	color: white;
}

.box-two {
	background-color: yellow;
}

.box-three {
	background-color: green;
	color: white;
}

@media (min-width: 1200px) {
	.column {
		margin-left: 25px;		
		margin-bottom: 20px;
		top: 0;
		width: 31%;
		float: left;
	}

	#column {
		margin-left: 20px;
		margin-bottom: 20px;
		top: 0;
		float: left;
		width: 31%;
	}
}

@media (min-width: 992px) and (max-width:  1199px) {
	.column {
		margin-left: 20px;
		margin-bottom: 20px;
		height: 230px !important;
		top: 0;
		float: left;
		width: 31%;
	}

	#column {
		margin-left: 20px;
		margin-bottom: 20px;
		height: 230px !important;
		top: 0;
		float: left;
		width: 31%;
	}
}

@media (min-width: 768px) and (max-width:  991px) {
	.column {
		margin-left: 14px;
		margin-right: 10px;
		margin-bottom: 20px;
		height: 230px !important;
		width: 47%;
		top: 0;
		float: left;
	}

	#column {
		margin-left: 14px;
		margin-right: 10px;
		margin-bottom: 20px;
		width: 96.5%;
		top: 0;
		float: left;
	}
}


@media (max-width: 767px) {
	.column {
		margin-left: 14px;
		margin-right: 14px !important;
		margin-bottom: 20px;
		width: 95%;
		height: 300px !important;
		top: 0;
		float: left;
	}

	#column {
		margin-left: 14px;
		margin-right: 14px !important;
		margin-bottom: 20px;
		width: 95%;
		height: 300px;
		top: 0;
		float: left;
	}
		
}